<div class="header">

</div>

<div class="messages">
  <div id="m_log" class="log">
    <ol class="list-group">
      <% @messages.each do |message| %>
        <li class="litem">
          <p>
            <strong><%= message.name %></strong>
          </p>
          <p>
            <%= message.text %>
          </p>
          <p align="right">
            <%= message.created_at %>
          <p>
     <% end %>
    </ol>
  </div>
</div>

<div class="insert_desc">
  <%= form_for :message_input, url: {action: "new"} do |f| %>
    <p id="qw1">
      <%= f.label "Name:" %>
    </p>
    <p id="qw1">
      <%= f.text_field :name %>
    </p>
    <p id="qw1">
      <%= f.label "Message:" %>
    </p>
    <p>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.submit "Send" %>
    </p>
  <% end %>
</div>

<div class="footer">
  <p>Created by Max Viso</p>
</div>

<button type="button" id="btn_click" /> click me!</button>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>

  document.getElementById('m_log').scrollTop = 0;
  var i = document.getElementById('m_log').scrollTop;
  var s = document.getElementById('m_log').scrollHeight-document.getElementById('m_log').offsetHeight;
  while(i<=s){
    i++;
    document.getElementById('m_log').scrollTop = i;
  }



</script>
